<footer>

    <div id="logo_skytrax_wap">
        <div class="logo_skytrax_wap--container">
            <div class="custom-logo">
                <div class="logo-skytrax-img">
                    <img src="/public/img/footer/4-Star_Metallic_150x150.webp" alt=" Vietnam Airlines is proud to be leading 4-star global airline ">
                </div>
                <div class="logo-skytrax-txt">
                    <h4></h4><h4 style="margin-top: 5px;">Uet Airlines tự hào là Hãng hàng không quốc tế 4 sao</h4>
                    <p></p><p style="margin-bottom: 5px;">Xin trân trọng cảm ơn sự đồng hành của Quý khách và bạn hàng!</p><p></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row-footer primary">
      <div class="column about">
        <h3>UET Airline</h3>
        <p class="pOfFooter">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
          voluptatem corporis error non, corrupti delectus unde, incidunt
          dolorem quam porro tenetur autem? Maxime aspernatur quas, natus
          nesciunt harum obcaecati voluptatum.
        </p>
      </div>
      <div class="column links">
        <h3>Quick Links</h3>
        <ul class="ulOfFooter">
          <li>
            <a href="#faq">F.A.Q</a>
          </li>
          <li>
            <a href="#cookies-policy">Cookies Policy</a>
          </li>
          <li>
            <a href="#terms-of-services">Terms Of Service</a>
          </li>
          <li>
            <a href="#support">Support</a>
          </li>
          <li>
            <a href="#careers">Careers</a>
          </li>
        </ul>
      </div>
      <div class="column subscribe">
        <h3>Subscribe</h3>
        <div>
          <input type="email" placeholder="Your email id here" />
          <button>Subscribe</button>
        </div>
        <div class="social">
          <i class="fa-brands fa-facebook-square"></i>
          <i class="fa-brands fa-instagram-square"></i>
          <i class="fa-brands fa-twitter-square"></i>
        </div>
      </div>
    </div>
    <div class="row-footer secondary">
      <div>
        <p class="pOfFooter">
          <i class="fas fa-phone-alt"></i>
        </p>
        <p>024.37547.461</p>
      </div>
      <div>
        <p class="pOfFooter"><i class="fas fa-envelope"></i></p>
        <p class="pOfFooter">uet@vnu.edu.vn</p>
      </div>
      <div>
        <p class="pOfFooter"><i class="fas fa-map-marker-alt"></i></p>
        <p class="pOfFooter">E3, 144 Xuân Thủy, Cầu Giấy, Hà Nội</p>
      </div>
    </div>
    <div class="row-footer copyright">
      <!-- <p>Copyright &copy; 2021 Coding Artist | All Rights Reserved</p> -->
    </div>
</footer>