<div id="header-wrapper">
    <div class="container-wrapper">
        <div class="nav-home">
            <a href="home-page">
                <img src="/public/img/header/Logo ĐH Công Nghệ-UET.png" alt="logo" class="logo">
                <div class="info">
                    <p class="name">UET Airline</p>
                    <p class="slogan">Sải cánh vươn cao</p>
                </div> 
            </a>
        </div>
        <div class="nav-open">
            <div class="nav-sitetop">
                <% if (typeof isLoggedIn !== 'undefined') { %>
                    <% if (isLoggedIn) { %>
                        <a href="/user-page" class="linkToUser onHover">Xin Chào: <%= user.ten_khach_hang %> </a>
                        <a href="/logout" class="logout onHover">Đăng Xuất</a>
                    <% } %>
                <% } else { %>
                    <a href="login" class="linkTologin onHover">Đăng nhập</a>
                    <a href="register" class="linkRegister onHover">Đăng ký</a>
                <% } %>
            </div>

            <div class="booking-ticket">
                <a href="filter-ticket" class="linkToFilterTicket">Đặt vé ngay</a>
            </div>
        </div>
    </div>
</div>