.info-fill-container {
  width: 60%;
  margin: auto;
}

.data-translation {
  background-color: #f9f9f9;
  border: 2px solid #000;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
}

.data-translation h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.data-translation p {
  margin-bottom: 10px;
}

.data-translation a {
  color: #00ff00;
}

.title-wrapper {
  display: flex;
  margin-top: 5px;
  flex-direction: column;
}

.title-wrapper h4 {
  font-size: 30px;
  font-weight: bold;
  color: red;
  margin-top: 20px;
  margin-bottom: 10px;
}

.title-wrapper p {
  font-size: 14px;
}

.information_customer_adult {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 10px;
  margin: 10px 0;
}

.information_customer_adult h3 {
  font-size: 16px;
  font-weight: bold;
}

.information_customer_adult p {
  margin-bottom: 10px;
}

.information_customer_adult .required {
  color: red;
}

.information_customer_adult .input-group {
  margin-bottom: 10px;
}

.information_customer_adult .input-group .form-control {
  width: 100%;
}

.information_customer_adult .input-group .form-control:focus {
  border-color: #000;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.information_customer_child {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 10px;
  margin: 10px 0;
}

.information_customer h3 {
  font-size: 16px;
  font-weight: bold;
}

.information_customer p {
  margin-bottom: 10px;
}

.information_customer .required {
  color: red;
}

.information_customer .input-group {
  margin-bottom: 10px;
}

.information_customer .input-group .form-control {
  width: 100%;
}

.information_customer .input-group .form-control:focus {
  border-color: #000;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.select-choice {
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  margin-top: 20px;
}

.select-choice button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }
 
.select-choice button.learn-more {
  width: 12rem;
  height: auto;
 }
 
.select-choice button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
 }
 
.select-choice button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
.select-choice button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
.select-choice button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
.select-choice button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
.select-choice button:hover .circle {
  width: 100%;
 }
 
.select-choice button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
.select-choice button:hover .button-text {
  color: #fff;
 }

 .button-switch-page {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  width: 40%;
}

.vip-btn {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica, "sans-serif";
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #cfef00;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.vip-btn:hover {
  background: #c4e201;
}

.vip-btn > svg {
  width: 34px;
  transition: transform 0.3s ease-in-out;
}

.vip-btn.continue-btn:hover svg {
  transform: translateX(5px);
}

.vip-btn.back-btn .back-icon {
  transform: scaleX(-1);
}

.vip-btn.back-btn:hover .back-icon {
  transform: translateX(-5px) scaleX(-1);
}

.vip-btn:active {
  transform: scale(0.95);
}

.vip-btn span {
  margin: 0px 10px;
}
