body {
    margin: 0; 
    padding: 0;
} 

p {
    margin: 0; 
    padding: 0;
}

label {
    margin: 0; 
    padding: 0;
}

.main-body {
    padding: 15px;
    margin-bottom: 30px;
    background-color: #FBF9E4;
    margin-top: 10px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

.card-body .row {
    padding: 0;
}

.balance-content-wraper {
    margin: 20px 20px 10px 10px;
}

.balance-content-wraper .balance-title {
    font-size: 20px;
    font-weight: bold;
}

.deposit-content-wraper {
    margin: 20px 20px 10px 10px;
}

.deposit-content-wraper .deposit-title {
    font-size: 20px;
    font-weight: bold;
}

.deposit-content-wraper .input-amount-content {
    width: 100%;
    padding: 10px 10px;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    margin-top: 10px;
}

.input-amount-content #input-amount {
    border: none;
    background: none;
    width: 75%;
}

.input-amount-content .monetary {
    float: right;
    width: 20%;
    text-align: center;
}


.deposit-content-wraper .deposit-btn {
    border: none;
    background-color: #ffe600;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
}

/* css for list ticket */

.list-ticket-booked-commingSoon {
    width: 100%;
}

.list-ticket-booked-commingSoon .ticket {
    display: grid;
    grid-template-columns: 50% 50%;
    border: solid;
    border-color: rgba(0, 0, 0, 0.26);
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.06);
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.list-ticket-booked-commingSoon .ticket .part-left {
    display: flex;
    padding: 10px;
}

.ticket .part-left .flight-offer-details {
    /* display: flex;
    flex-direction: row; */
    float: left;
}

.flight-offer-details .route-date-time {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.route-date-time .time-airport {
    display: inline-block;
    margin-right: 15px;
}

.flight-offer-details .route-date-time .icon-arrow {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.route-date-time .time-airport .time {
    color: #005F6E;
    font-size: 18px;
    font-weight: bold;
}

.flight-offer-details .duration-stop {
    font-size: 15px;
}

.route-date-time .time-airport .airport {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.route-date-time .icon-arrow {
    display: inline-block;
}

.ticket .part-left .plane-details {
    display: flex;
}

.list-ticket-booked-commingSoon .ticket .part-right {
    display: flex;
    justify-content: space-between;
}

.part-right .customer-order-details {
    background-color: #F4F9F5;
    border: solid;
    border-color: #005F6E;
    border-radius: 5px;
    border-width: 1px;
    padding: 10px;
    color: #005F6E;
    font-weight: bold;
    margin-left: 10px;
    width: 65%
}

.part-right .process-ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.part-right .process-ticket .pay-ticket {
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px 0px;
    background-color: rgb(36, 213, 36);
    transition: 0.5s;
}

.part-right .process-ticket .pay-ticket.unpaid {
    background-color: rgb(36, 213, 36);
    transition: 0.5s;
}

.part-right .process-ticket .pay-ticket.unpaid:hover {
    background-color: rgb(0, 255, 0);
}

.part-right .process-ticket .pay-ticket.paid {
    background-color: rgba(156, 156, 156, 0.673);
}


.part-right .process-ticket .cancel-ticket {
    border: none;
    border-radius: 20px;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0px;
    background-color: rgba(252, 104, 55, 0.804);
    transition: 0.5s;
}
.part-right .process-ticket .cancel-ticket:hover {
    background-color: rgb(248, 79, 23)
}
.ticket .part-right .price-content-wrapper {
    width: 50%;
    margin: 10px 10px;
}

.part-right .price-content-wrapper .buy-ticket-btn {
    width: 100%;
    color: #005F6E;
    font-weight: bold;
    padding: 5px 0px;
    cursor: pointer;
}
.buy-ticket-btn.business {
    background-color: #FBF9E4;
    border: solid;
    border-color: #7B5A04;
    border-radius: 5px;
    border-width: 1px;
}

.buy-ticket-btn.economy {
    background-color: #F4F9F5;
    border: solid;
    border-color: #005F6E;
    border-radius: 5px;
    border-width: 1px;
}

.buy-ticket-btn > label {
    justify-self: left;
}

.buy-ticket-btn .quantity-remain {
    color: rgba(0, 0, 0, 0.681);
    font-weight: 300;
}
