#content {
    background-color:  lightpink;
    height: 2400px;
    max-height: 2845px;
}

#content > #divFareDealsCarousel {

}

.sticky-inner-wrapper {
    z-index: 1002;
    background-color: #f6edcc;
}

.wrapper-body {
    padding: 0;
    overflow: hidden;
    max-width: 1920px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 100%;
    background-color: transparent;
}

.wrapper-button {

}

.wrapper-button .spark-icon {
    color: #000;

}

.wrapper-button > span {
    margin-left: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spark-icon {
    margin-right: 0.5rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-size: 1.33333333rem;
    line-height: 1.33333333rem;
    text-rendering: auto;
    vertical-align: middle;
    speak: none;
    font-family: spark-icon-line;
    font-style: normal;
    font-variant: normal!important;
    font-weight: 400;
    text-transform: none!important;
}

span {
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
}

.view-title .title-wrapper {
    font-size: 28px;
    text-shadow: none;
    color: #005f6e;
    font-family: "OpenSans","Arial",sans-serif;
    line-height: 38px;
    font-weight: 700;
    padding-bottom: 0;
    padding-top: 20px;
}

.view-title .view-subtitle {
    padding-top: 0;
    margin-top: 0;
    text-shadow: none;
    font-size: 14px;
    line-height: 22px;
    color: #222;
    margin: 0;
    font-weight: 400;
    font-family: "OpenSans","Arial",sans-serif;
    padding-bottom: 5px;
}

.left-side-panel .dxp-panel {
    margin-top: 0;
    margin-bottom: 24px;
    border-radius: 8px;
    font-family: "OpenSans","Arial",sans-serif;
    font-size: 1rem;
    border: 1px solid #c8c8c8;
    font-weight: 400;
    box-shadow: 0px 2px 4px 0px #2222221a;
    padding: 24px;
    background: #fff;
    width: 100%;
    
}

.inside-panel {
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* .filght-selection-rippon {
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    display: block;
} */

/* .filght-selection-item {
    font-family: "OpenSans","Arial",sans-serif;
    box-shadow: none;
    height: auto;
    padding: 0;
    border-bottom: 5px solid #cde4e1;
    min-height: 8.6rem;
    -webkit-box-align: center;
    align-items: center;
    background: unset;
    border: none;
    cursor: pointer;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    flex-direction: column;
    justify-content: center;
    outline: 0;
    width: 100%;
}

button {
    -webkit-appearance: button;
    font-size: 1.333rem;
    font-weight: 400;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
} */

.flight-table-section {
    background-color: #fff;
    padding-bottom: 24px;
    border-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 2px 4px 0px #2222221a;
    overflow: hidden;
    border: 1px solid #c8c8c8;
    width: 100% !important;
    margin-bottom: 2rem;
}

.first-row {
    border-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    transition: all .2s;
    display: flex;
    padding: 20px 20px 10px 22px !important;
}

.result-into-sort-filter {
    font-family: "OpenSans","Arial",sans-serif;
    padding: 0 !important;
    height: 4rem;
    width: 55%;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
}