#content {
    background-color:  lightpink;
    height: 2400px;
    max-height: 2845px;
    display: block;
}

#content .ic {
    background-color: lightblue;
    height: 400px;
    margin: 20px;
}

#content .row {
    background-color: lightgreen;
    height: 400px;
    margin: 20px;
}