<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>

        <link rel="stylesheet" href="/public/css/style.css">
        <link rel="stylesheet" href="/public/css/header_home_page.css">
        <link rel="stylesheet" href="/public/css/content_booking_page.css">
        <link rel="stylesheet" href="/public/css/footer.css">
        <link rel="stylesheet" href="/public/css/search_booking_page.css">
    </head>
    <body>
        <!-- Header -->
        <%- include ('../partials/header', {isLoggedIn: isLoggedIn, user: user}) %>

        <div id="divMaincontent">
          <div class = "main-content">
            <div class="sticky-inner-wrapper">
              <div class="wrapper-body">
                <div class="infoFlight">
                  <div class="indicator-item">
                    <img src="/public/img/booking-page/plane.png" class="indicator-item-icon">
                    <div class="indicator-item-title">
                      <p>HCM -> HNO</p>
                    </div>
                  </div>
                  <div class="indicator-item">
                    <img src="/public/img/booking-page/traveler-with-a-suitcase.png" class="indicator-item-icon">
                    <div class="indicator-item-title">
                      <p>Người lớn: 1</p>
                      <p>Trẻ em: 0</p>
                    </div>
                  </div>
                </div>
                
                <div class="indicator-edit-button">
                    <div class="wrapper-button" > 
                      <a href="filter-ticket?airportDepart=0&airportArrive=0&dateDepartBegin=&dateDepartEnd=&numOfChildren=0&numOfAdult=1">
                        <button class="buttonChange" >
                          <svg class="svgIcon" viewBox="0 0 20 20">
                                      <path d="M18.125,15.804l-4.038-4.037c0.675-1.079,1.012-2.308,1.01-3.534C15.089,4.62,12.199,1.75,8.584,1.75C4.815,1.75,1.982,4.726,2,8.286c0.021,3.577,2.908,6.549,6.578,6.549c1.241,0,2.417-0.347,3.44-0.985l4.032,4.026c0.167,0.166,0.43,0.166,0.596,0l1.479-1.478C18.292,16.234,18.292,15.968,18.125,15.804 M8.578,13.99c-3.198,0-5.716-2.593-5.733-5.71c-0.017-3.084,2.438-5.686,5.74-5.686c3.197,0,5.625,2.493,5.64,5.624C14.242,11.548,11.621,13.99,8.578,13.99 M16.349,16.981l-3.637-3.635c0.131-0.11,0.721-0.695,0.876-0.884l3.642,3.639L16.349,16.981z"></path>
                                    </svg>
                        </button>
                      </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="view-title">
              <p class="title-wrapper">Chọn chuyến bay</p>
              <p class="view-subtitle">Chọn chuyến bay TP. Hồ Chí Minh đến TP. Hà Nội</p>
            </div> -->
            <div class="left-side-panel">
              <div class="dxp-panel">
                <div class="inside-panel">
                    <span size="4rem">Tra cứu thông tin chuyến bay khác 
                      <a href="home_page.html" target="_blank">tại đây.</a>
                    </span>
                    <br>
                    <span style="color:#cc0000;">
                      <b>Lưu ý: Giá dưới đây đã bao gồm thuế, phí </b>
                    </span>
                    <br>
                    <a href="" target="_blank"> + Phí Dịch Vụ Đặc Biệt </a>
                    <br>
                    <a href="https://vnbay.com.vn/cach-tinh-thue-va-phi-ve-may-bay-cua-3-hang-hang-khong-.html" target="_blank">
                      + Thuế Theo Thị Trường
                    </a>
                    <br>
                    <p style="font-weight: bold;">Đồng tiền thanh toán hiển thị theo "Quốc gia/Vùng" đã chọn, Quý khách
                    kiểm tra kỹ lưỡng đồng tiền trước khi thanh toán.</p>
                </div>
              </div>
              <div class="view-title">
                <p class="title-wrapper">Chuyến bay chiều đi</p>
              </div>
              <!-- <div class="flight-selection-rippon">
                <div type="button" class="flight-selection-item" aria-pressed="true">
                  <div class="date">10 Thg 11</div>
                  <div class="flight-price">
                    <span class="dxp-price">"2,000,000 VND"</span>
                  </div>
                </div>
              </div> -->
              <div class="flight-table-section">
                <div class="first-row">
                  <div class="result-into-sort-filter">
                    <span class="result-count">27 kết quả</span>  
                    <div class="spark-popover" id="popover">
                      <button type="button" class="button-choice" id="buttonChoice">
                        <span class="button-label">
                          <span class="text-button">Sắp xếp theo: </span>
                          <img src="/public/img/booking-page/down-arrow.png" alt="down-arrow">
                        </span>
                      </button>
                      <ul class="dropdown-list" id="dropdownList">
                        <li data-sort="desc">Thời gian khởi hành giảm dần</li>
                        <li data-sort="asc">Thời gian khởi hành tăng dần</li>
                        <li data-sort="desc">Giá vé giảm dần</li> 
                        <li data-sort="asc">Giá vé tăng dần</li>
                      </ul>
                    </div>     
                    <!-- <script>
                      document.addEventListener('DOMContentLoaded', function () {
                        initializeDropdown();
                      });
                    </script> -->
                  </div>
                  <div class="offer-labels">
                    <div class="offer-label economy">Phổ thông</div>
                    <div class="offer-label business">Thương gia</div>
                  </div>
                </div>

                <div class="upper-row">
                  <div class="panel-content">
                </div>
              </div>

              </div>

        <script src="/public/js/BookingPage.js"></script>
        <!-- Footer -->      
        <%- include('../partials/footer') %>
    </body>
</html>