<!DOCTYPE html>
<html>
    <head>
        <%- include ('../partials/head') %>

        <link rel="stylesheet" href="/public/css/style.css">
        <link rel="stylesheet" href="/public/css/header_home_page.css">
        <link rel="stylesheet" href="/public/css/footer.css">
        <link rel="stylesheet" href="/public/css/hidden-nav-mobile.css">
        <link rel="stylesheet" href="/public/css/login.css">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="./style.css">
    </head>

    <body>

      <% if (typeof alertText !== 'undefined') { %>
          <!-- Biến tồn tại, bạn có thể sử dụng nó ở đây -->
          <script>
              alert('<%= alertText%>');
          </script>
      <% } %>

        <!-- Header -->
        <%- include ('../partials/header') %>

        <!-- Login -->
        <form class="phandangnhap" method="POST" action="/login">
            <div class="box-form">
              <div class="left">
                <div class="overlay">
                <h1>UET Airline</h1>
                <p>Luôn đồng hành cùng bạn</p>
                <span>
                  <p>login with social media</p>
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Login with Twitter</a>
                </span>
                </div>
              </div>
              
              <div class="right">
                <h5>Login</h5>
                <div class="inputs">
                  <input type="text" placeholder="User name / Email" name="useraccount" required>
                  <br>
                  <input type="password" placeholder="Password" name="password" required>
                </div>
                  <br><br>
                  
                <!-- <div class="remember-me--forget-password">
                  <label>
                    <input type="checkbox" name="item" checked/>
                    <span class="text-checkbox">Remember me</span>
                  </label>
                </div> -->
                  <br>
                  <div style="display:block;">
                    <button >Login</button>
                  </div>
                 <div style="margin-top: 20px;">
                    <p>Don't have an account? <a href="register">Creat Your Account</a> it takes less than a minute</p>
                 </div>
              </div>
            </div>
        </form>

    <!-- Footer -->
    <%- include ('../partials/footer') %>

    </body>
</html>